body {
  font-family: monospace;
  overflow: hidden;
  display: grid;
  align-content: center;
  height: 100vh;
  margin: 0;

  background-image: linear-gradient(135deg, #7fa7e4 0%, #e5efff 100%);
}

form {
  background: aliceblue;
  box-shadow: 0px 0px 5px 0px cadetblue;
  padding-top: 10px;
}

.countdown-container, .event-inputs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.event-name-container, .event-date-container{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.countdown-svg {
  position: absolute;
}

.date-container {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 10px;
  box-shadow: 1px 1px dimgrey;
  background-color: white;
}

.event-inputs-container label {
  background: whitesmoke;
  padding: 10px;
  text-align: left;
  margin: -10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid lightgray;
}

.event-name {
  width: 250px;
}

.event-time {
  margin-left: -10px;
}

.title {
  font-size: 0.8em;
  grid-row-start: 2;
}

.time-number {
  font-weight: bold;
  font-size: 2em;
}

input {
  height: 36px;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: bold;
  border-top: none;
  border-right: none;
}

button {
  display: flex;
  margin: 10px auto 20px auto;
  width: 100px;
  height: 36px;
  justify-content: center;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  cursor: pointer;
}