body {
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #82c776 0%, #e5efff 50%, #5db54d 100%)
}

.container {
  display: grid;
  justify-items: center;
  padding: 10px;
  background-color: #ffffff69;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px darkgrey;
}

.source-container, .destination-container {
  width: 102%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 5px;
  border-radius: 5px;
}

h1 {
  background: darkseagreen;
  padding: 10px;
  margin: -10px 0 0 0;
  width: 100%;
  text-align: center;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 1px 2px 0px darkslategrey;
  z-index: 1;
}

.name {
  width: 85px;
  margin-left: 10px;    
  font-size: 0.9em;
  font-weight: bold;
}

.value-input {
  margin-left: 10px;
}

.controls {
  margin: 20px 0;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}

.controls button {
  height: 48px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
  outline: none;
  cursor: pointer;
}

.convert {
  background-color: royalblue;
}

.swap {
  background-color: darkseagreen;;
}

select, input {
  height: 36px;
  padding: 0 5px;
  border-radius: 5px;
  text-align: right;
  outline: none;
}

input {
  height: 32px;
}