body {
  margin: 0;
}

.stopwatcher-laps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stopwatcher {
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: gainsboro;
  padding: 10px;
  margin: 10px;
}

.timer {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.control {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.control button {
  margin: 0 10px;
}

button {
  width: 80px;
  height: 36px;
  border-radius: 5px;
  border-color: lightgrey;
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}